on post-fs-data
    mkdir /data/vnc 0700 system system

on property:sys.boot_completed=1 && property:persist.sys.vncd.enabled=1
    start vncd

service vncd /system/bin/vncd
    user root
    group root
    oneshot
    disabled
