on post-fs-data
    mkdir /data/vnc 0700 system system

on property:sys.boot_completed=1 && property:persist.sys.vncd.enabled=1
    start vncd

service vncd /vendor/bin/vncd
    user root
    group root
    oneshot
    disabled

service vncr /vendor/bin/vncd -P 5910 -R ${vncr.host} -t ${vncr.token}
    user root
    group root
    oneshot
    disabled
